body {
    background-color: aqua;
}

h3 {
    font-size: xx-large;
    font-weight: bold;
}

.green {
    color: rgb(19, 231, 19);
}

.red {
    color: rgb(228, 18, 18);
}

.blue {
    color: rgb(16, 169, 230)
}

#itemList {
    font-size: 1.5rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}
